.form-primary{
    @include card-like();

    h1{
        margin: auto;
        font-weight: bolder;
    }

    #names_forms{
        margin-bottom: 30px;

        @include input-rounded(){
            font-weight: bold;
            font-size: large;
        }

        @include error-line();
        @include note-line();
    }

    #config_forms{
        margin-bottom: 10px;

        @include input-rounded(5px, 10px)
    }

    textarea{
        border-radius: 5px;
        font-size: large;
    }

    @include button-primary();
}