@function get-profile-tab-bg($bg-color){
    @return lighten($bg-color, 5%)
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: $navbar-background-color;

    #logo{
        float: left;
        margin-top: 8px;
        margin-left: 10px;
        margin-bottom: 8px;
    }

    ul{
        float: left;
        list-style-type: none;
        display: flex;
        padding-left: 0px;
        margin: 0px;
        margin-left: 20px;

        .active_tab{
            border-bottom: 2px solid $tab-active-color;
        }        

        li{
            float: left;
            height: $navbar-height - 2px;
            width: $tab-width;
            line-height: $navbar-height - 2px;
            font-size: 15px;
            margin: 0px;
            margin-right: 2px;
            text-align: center;

            @include hoverable_lighten($navbar-background-color)
        }
    }

    #github{
        display: flex;
        flex-wrap: wrap;
        width: 200px;
        height: $navbar-height;
        margin: 0;
        margin-left: auto;
        background-color: white;
        font-size: 17px;
        line-height: $navbar-height;
        padding-left: 1%;

        a{
            text-decoration: none;
            color: black;
        }
    }

    .profile-tab{
        $profile-tab-bg: get-profile-tab-bg($navbar-background-color);
        $padding-y: 15px;

        display: flex;
        flex-wrap: wrap;
        width: auto;
        height: $navbar-height;
        margin: 0;
        margin-left: auto;
        font-size: 17px;
        padding-left: $padding-y;
        padding-right: $padding-y;
        line-height: $navbar-height;
        background-color: $profile-tab-bg;
        border-left: 2px lighten($profile-tab-bg, 20%) dotted;

        @include hoverable_lighten($profile-tab-bg);

        h4{
            margin: 0;
        }

        a{
            color: white;
            text-decoration: none;
        }
    }
}

