@use "sass:color";

//   Hover effects
@mixin hoverable_lighten($color, $percentage:5% ) {
    &:hover{
        background-color: lighten($color, $percentage);
        cursor: pointer;
        @content;
    }
};

@mixin hoverable_darken($color, $percentage:5% ) {
    &:hover{
        background-color: darken($color, $percentage);
        cursor: pointer;
        @content;
    }
};

@mixin hoverable_opacify($color, $amount:0.4){
    &:hover{
        background-color: color.adjust($color, $alpha: $amount);
        cursor: pointer;
        @content;
    }
}

// Buttons

@mixin button-primary{
    button{
        margin-top: 10px;
        border: none;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 20px;
        font-weight: bolder;
        font-size: larger;
        background-color: $button-background-color-primary;
        color: white;

        @include hoverable_darken($button-background-color-primary, 2%);
        @content;
    }
};

// Form fields

@mixin input-rounded($padding:10px, $margin-top: 15px){
    input{
        margin-top: $margin-top;
        padding: $padding;
        border: none;
        border-radius: 10px;

        @content;
    }
}

// Cards
@mixin card-like($max-width:500px){
    font-size: large;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    background-color: $card-background-color;
    border-radius: 30px;
    max-width: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 90px;
    padding-right: 90px;
}

// Transitions

@mixin transition_all($duration:0.5s) {
    transition: all $duration;
}

// Other

@mixin error_line {
    .error-line{
        padding-top: 10px;
        color: $red;
    }
}
@mixin note-line {
    .note-line{
        padding-top: 10px;
        font-weight: lighter;
    }
}

.float-left-container{
    display: flex;
    margin-left: auto;
}

