// Body
$body-bg: #00202b;

// Navbar
$navbar-background-color: #001922;
$tab-active-color: #0c5570;
$tab-hover-color: #012c3b;

$tab-width: 130px;
$navbar-height: 53px;

// Cards
$card-background-color: #003242;

// Buttons
$button-background-color-primary: #002633;
$button-background-color-primary-darker: #001b24;

// Finished Screen
$fin-screen-background-color: #002633;

// Game
$tile-border-color: $body-bg;
$tile-background-color: rgba(255,255,255, 0.25);


// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
